doctype html(lang='en')
head
		title Question Editor
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='/stylesheets/style.css' rel='stylesheet')
		link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')
		style(type='text/css', media='screen').
			#editor {
			height:100%;
			}
	body(style="overflow:hidden")
		#editor.col-md-8
		
		#result.col-md-4
			.form-group
				label

			#compile
				#compileButton
					button.compileButton() COMPILE & RUN

			#run
				#runResponse 
				#submitButton
					button.submitButton(disabled) OUTPUT
			#submit

		

		script(src='/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
		script.
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/monokai");
			editor.setFontSize(16);
			editor.getSession().setMode("ace/mode/#{langCode}");
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		|     
		script(src='/javascripts/bootstrap.min.js')
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/compile.js")